<div class="clickbait-frame">
  <h1 id='headline'><%= content %></h1>
</div>
<div id='clickbait-buttons'>
  <% %w(listicle whathappens dontwanna whyi watchas).each do |htype| %>
      <% activeclass = (htype==@current_val) ? 'active' : ''%>
      <% title = list_type_title(htype) 
         color = cycle(*(%w(orange pink blue green)))
         shape = %w(round oval brackets skew back knife shield drop morph).sample
         icon = ["♔", "♕", "♖", "♗"].sample %>
		
      <span id="<%= htype %>" title="<%= title %>" class="sparkley btn-clickbait <%= activeclass %> ">
      <span id="<%= htype %>" data-icon="<%= icon %>" class="sparkley btn-clickbait <%= [activeclass, color, shape].join(" ") %> ">
          <%= list_type_title htype %>
          <%= title %>
        </span>
  <% end %>
</div>

<div class="share">
  <button class="button blue xs" id="manual-ajax">Share Permalink</button>
  <div class='' id="init-twit">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="" data-via="ShannonEWells" data-size="large" data-count="none">Tweet</a>
  </div>
</div>


<div class="ladom" style="display: none"></div>
