<h4>This is Clickbait Generator.</h4>
<div class="span12">
  <%= form_tag '/home/generate', class: 'form-inline' do |f| %>
      <div class="row">
        <p class='col-12'>Pick a Style:</p>
      </div>
      <div class="form-group">
        <div class="input-group radio-button">
          <%= label_tag 'listicle','', for: 'whathappens', class: 'col-md-6' do %>
              <%= radio_button_tag('whathappens', 'false',!@whathappens) %>
              <strong>Listicle</strong>
          <% end %>
          <%= label_tag 'whathappens', '',for: 'whathappens', class: 'col-md-6' do %>
              <%= radio_button_tag('whathappens', 'true', @whathappens) %>
              <strong>What Happens Next...</strong>
          <% end %>
        </div>
          <%= submit_tag "Generate!", class: 'btn btn-lg' %>
      </div>
  <% end %>
</div>
<div class="row">
  <h1 class='span12'><%= @headline %> </h1>
</div>

