<div class="row" id="topbar">
<h5 class="indent-sm">This is Clickbait Generator.</h5>
</div>
<h1 class='' id='headline'><%= @headline.html_safe %></h1>
<div class="row" id="foo">
  <div id='clickbait-buttons'>
    <% %w(listicle whathappens dontwanna whyi).each do |htype| %>
          <% activeclass = (htype==@current_val) ? 'active' : ''%>
          <span id="<%= htype %>" class="btn-clickbait <%= activeclass %> ">
            <%= list_type_title htype %>
          </span>
      <% end %>
  </div>
</div>

<div class='' id="init-twit">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="<%= @headline.html_safe %>" data-via="ShannonEWells" data-size="large" data-count="none">:P</a>
</div>
