<div class="" id="topbar">
<h5 class="indent-sm">This is Clickbait Generator.</h5>
</div>
<div class="clickbait-frame">
  <!--<img class="headline-image" src="<%= "http://loremflickr.com/320/240/#{@clickbait.keyword1},#{@clickbait.keyword2}" %>">-->
  <h1 class='' id='headline'><%= @headline.html_safe %></h1>
</div>
<div class='' id='clickbait-buttons'>
  <% %w(listicle whathappens dontwanna whyi).each do |htype| %>
        <% activeclass = (htype==@current_val) ? 'active' : ''%>
        <span id="<%= htype %>" class="sparkley btn-clickbait <%= activeclass %> ">
          <%= list_type_title htype %>
        </span>
    <% end %>
</div>

<div class='' id="init-twit">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="<%= @headline.html_safe %>" data-via="ShannonEWells" data-size="large" data-count="none">:P</a>
</div>
