<h4 class="text-center">This is Clickbait Generator.</h4>
<h1 class='text-center' id='headline'><%= @headline.html_safe %></h1>
<div class="row">
  <%= form_tag '/home/generate' do |f| %>
      <div id='clickbait-type' class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-4">
        <ul class="list-unstyled">
              <% %w(listicle whathappens dontwanna whyi).each do |htype| %>
                <li><%= label_tag htype,'headline_type' do %>
                  <%= radio_button_tag('headline_type', htype, htype == @current_val) %>
                  <%= list_type_title htype %>
                <% end %>
                </li>
              <% end %>
            </ul>
      </div>
      <div id='clickbaitme' class="col-md-2 col-sm-2 col-lg-2 col-xs-4">
        <div>CLICK</div>
        <div>(BAIT)</div>
        <div>ME!</div>
      </div>
  <% end %>
</div>

<div class='text-center' id="init-twit"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://clickbaitgenerator.herokuapp.com" data-text="<%= @headline.html_safe %>" data-via="ShannonEWells" data-size="large" data-count="none">:P</a></div>