<!DOCTYPE html>
<html>
<head>
  <title>ClickbaitGenerator</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid" id="main">
    <%= yield %>
</div>
<div class="footer row">
  <div class="nav-bottom left"><a href="/">Home</a></div>
  <div class="nav-bottom left"><a href="/home/about" class='nav-bottom'>What?</a></div>
  <div class="nav-bottom left"><a href="http://github.com/shannonwells/clickbait_generator" class='nav-bottom'>Get the Source</a></div>

  <div class="twitter-button left"><a href="https://twitter.com/shannonewells" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="medium"></a></div>
</div>
<%= javascript_include_tag 'application'%>
<%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.3.min.js' %>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>
